/* resets */
h1,
ul {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 20px;
}

.company {
	font-size: 16px;
}

.header-nav-list {
	list-style: none;
}

.header-nav-li {
	margin: 5px 0;
}

.header-nav {
	color: #69696a;
	padding: 5px 0;
}

.link {
	text-decoration: none;
}

.button {
	display: block;
	color: white;
	background-color: black;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
}


.about-text {
	border-left: 3px solid #69696a;
	padding-left: 10px;
	color: #69696a;
}

.footer {
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	left: 0;
	width: 100%;
	background-color: rgba(247, 193, 162, 0.7);
}

.footer-company {
	margin-left: 20px;
}

.footer-nav {
	margin-right: 20px;
}

.footer-nav-list {
	display: flex;
	list-style: none;
}

.footer-link {
	padding: 5px;
}
.circle-one{
	display: none;
}
@media only screen and (min-width: 768px) {
	.headerclass{
		display: flex;
		justify-content: space-between;
	}
	.header-nav-list{
		display: flex;
		align-items: center;
		right: 0;
	}
	.header-nav-li{
		margin: 10px;
	}
	.maindiv{
		width: 50%;
		float: left;
	}
	.circle-container{
		width: 50%;
		float: right;
		position: relative;
	}
	.circle{
		position: absolute;
	}
	.circle-one {
		height: 130px;
		width: 130px;
		display: block;
		top: 50px;
		right: 90px;
		background-color:rgba(247, 136, 167, 0.6);
		border-radius: 80px;
	  }
	  .circle-two {
		height: 100px;
		width: 100px;
		display: block;	
		top: 125px;
		left: 330px;
		background-color: rgba(247, 193, 162, 0.7);
		border-radius: 50px;
	  }
	  .circle-three {
		height: 70px;
		width: 70px;
		display: block;
		
		top: 80px;
		left: 350px;
		background-color: rgba(207, 130, 213, 0.6);
		border-radius: 50px;
	  }
}
/* Hello Justin!(or other readers)
This had some edits with the class review.
I added a section for the circles, absolute position for the section and made the circles relative.
Circles are not in the right order, but I didn't adjust zindex. */